*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 250px 100px 150px 200px;
    gap: 20px;
}
.div1{
    background-color: hsl(256, 67%, 59%);
    grid-column: 2/4;
    grid-row: 1;
}
.div2{
    background-color: hsl(0, 0%, 100%);
    grid-column: 2/3;
    grid-row: 2/4;
}
.div3{
    background-color: hsl(39, 100%, 71%);
    grid-column: 3/4;
    grid-row: 2/4;
}
.div4{
    background-color: hsl(254, 88%, 90%);
    grid-column: 4/5;
    grid-row: 1/4;
}
.div5{
    background-color: hsl(256, 67%, 59);
    grid-column: 3/5;
    grid-row: 4;
}
.div6{
    background-color: hsl(0, 0%, 100%);
    grid-column: 2/3;
    grid-row: 4/5;
}
.div7{
    background-color: hsl(31, 66%, 93%);
}
.div8{
    background-color: hsl(39, 100%, 71%);
}
.hero div{
    box-shadow: 0px 0px 5px rgb(201, 201, 201);
    border-radius: 10px;
}